Header files

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
val='PUBLICENTERPRISE.csv'

In [ ]:
dataset = pd.read_csv(val)
dataset = dataset.drop(['Turnover','Volume'], axis=1)

In [ ]:
print(dataset['Close'])

0       25318.10
1       25338.25
2       25318.60
3       25462.60
4       25601.85
          ...
1233    42630.15
1234    42859.50
1235    42827.70
1236    43252.35
1237    42986.45
Name: Close, Length: 1238, dtype: float64

In [ ]:
dataset['%Cchange'] = ((dataset['Close']-dataset['Open'])/dataset['Open'])*100;
dataset.to_csv(val)

In [ ]:
print(dataset)

            Date      Open      High       Low     Close  %Cchange
0     2018-01-01  25565.75  25588.00  25271.55  25318.10 -0.968679
1     2018-01-02  25382.20  25425.50  25232.80  25338.25 -0.173153
2     2018-01-03  25425.75  25454.90  25300.90  25318.60 -0.421423
3     2018-01-04  25367.65  25490.35  25310.30  25462.60  0.374296
4     2018-01-05  25524.45  25643.35  25499.55  25601.85  0.303239
...          ...       ...       ...       ...       ...       ...
1233  2022-12-26  41716.35  42846.15  41569.45  42630.15  2.190508
1234  2022-12-27  42827.75  42927.20  42394.15  42859.50  0.074134
1235  2022-12-28  42733.60  43034.95  42694.85  42827.70  0.220201
1236  2022-12-29  42684.90  43498.05  42489.80  43252.35  1.329393
1237  2022-12-30  43401.70  43422.95  42833.10  42986.45 -0.956760

[1238 rows x 6 columns]

In [ ]:
dataset['%Pchange'] = ((dataset['Close'].diff())/dataset['Close'])*100;
f_closeC = dataset.iloc[:, -3].values
f_closeP = dataset.iloc[:, -2].values
f_close = (f_closeC[0]+f_closeC[0]*(f_closeP[0]/100));
CX = ((f_closeC[0]-f_close)/f_close)*100
dataset.loc[0,'%Pchange'] = str(CX)
dataset.to_csv(val)

In [ ]:
print (dataset)

            Date      Open      High       Low     Close  %Cchange  \
0     2018-01-01  25565.75  25588.00  25271.55  25318.10 -0.968679
1     2018-01-02  25382.20  25425.50  25232.80  25338.25 -0.173153
2     2018-01-03  25425.75  25454.90  25300.90  25318.60 -0.421423
3     2018-01-04  25367.65  25490.35  25310.30  25462.60  0.374296
4     2018-01-05  25524.45  25643.35  25499.55  25601.85  0.303239
...          ...       ...       ...       ...       ...       ...
1233  2022-12-26  41716.35  42846.15  41569.45  42630.15  2.190508
1234  2022-12-27  42827.75  42927.20  42394.15  42859.50  0.074134
1235  2022-12-28  42733.60  43034.95  42694.85  42827.70  0.220201
1236  2022-12-29  42684.90  43498.05  42489.80  43252.35  1.329393
1237  2022-12-30  43401.70  43422.95  42833.10  42986.45 -0.956760

                %Pchange
0     0.9781539688997245
1               0.079524
2              -0.077611
3               0.565535
4               0.543906
...                  ...
1233            2.256853
1234            0.535121
1235           -0.074251
1236            0.981796
1237           -0.618567

[1238 rows x 7 columns]